$white: #fff;
$black: #000;
$green: #88c655;
$blue: #4990e2;
$bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
$gray-base: lighten($black, 15%); //#262626
$gray-dark: lighten($gray-base, 40%); //#8c8c8c
$gray-med: lighten($gray-base, 65%); //#cccccc
$gray-light: lighten($gray-base, 72%); //#dedede
$gray-lightest: #fafafb;

.button {
  height: 40px;
  border-radius: 100px;
  border: none;
  margin-bottom: 0;
  -webkit-transition: all 250ms $bezier;
  -moz-transition: all 250ms $bezier;
  -ms-transition: all 250ms $bezier;
  transition: all 250ms $bezier;
  font-size: 18px;
  text-transform: none;

  &.full-width {
    width: 100%;
  }

  &.green {
    background-color: $green;
    color: $black;
    min-width: 150px;
  }

  &.white {
    background-color: $white;
    color: $black;
    min-width: 150px;
  }

  &.black {
    background-color: $black;
    color: $white;
    min-width: 150px;
  }

  &.info {
    background-color: $blue;
    color: $white;

    &:hover, &:focus {
      color: $white;
      background-color: lighten($blue, 5%);
    }
  }

  &[disabled] {
    color: $white;
    background-color: $gray-med;
    cursor: not-allowed;
  }
}
