.tea-block {
    display: block;
    height: 100px;
}

.button {
  height: 40px;
  border-radius: 100px;
  border: none;
  margin-bottom: 0;
  -webkit-transition: all 250ms $bezier;
  -moz-transition: all 250ms $bezier;
  -ms-transition: all 250ms $bezier;
  transition: all 250ms $bezier;
  font-size: 18px;
  text-transform: none;

  &.full-width {
    width: 100%;
  }

  &.green {
    background-color: $green;
    color: $black;
    min-width: 150px;
  }

  &.white {
    background-color: $white;
    color: $black;
    min-width: 150px;
  }

  &.black {
    background-color: $black;
    color: $white;
    min-width: 150px;
  }

  &.info {
    background-color: $blue;
    color: $white;

    &:hover, &:focus {
      color: $white;
      background-color: lighten($blue, 5%);
    }
  }

  &[disabled] {
    color: $white;
    background-color: $gray-med;
    cursor: not-allowed;
  }
}
